@tailwind base;
@tailwind components;
@tailwind utilities;
.burit:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 32px solid transparent;
	border-top-color: #F5F6F8;
	border-bottom: 0;
	border-left: 0;
	margin-bottom: -32px;
}
.ami:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FFF;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}